<%= form_for @photo do |f| %>
<% if photo.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

    <ul>
    <% photo.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    <div class="field">
        <%= f.label :boat_id %><br />
        <%= f.select(:boat_id, current_user.boats.collect {|boat| [boat.name, boat.id]}) %>
    </div>
   <div class="field">
        <%= f.label :content_type %><br />
        <%= f.select(:content_type, options_for_select([['image/jpeg', 1], ['image/png', 2], ['image/gif', 3]], 1)) %>
    </div>
    <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true %>
    </div>
    <div class="file-field">
        <%= f.label :image %><br />
        <%= f.file_field :image, class: 'file-field' %>
    </div>
    <div class="field">
        <%= f.submit "Save Photo", class: 'photo-button' %>
    </div>

<% end %>
