<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @boat.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Containers:</strong>
  <%= @boat.containers %>
</p>

<p>
  <strong>Location:</strong>
  <%= @boat.location %>
</p>

<p>
  <strong>Jobs:</strong>
  <% @boat.jobs.each do |job| %>
    <%= job.origin + " ---> " + job.destination %> <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
