<!DOCTYPE html>
<html>
<head>
    <title>Boats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="menu-container">
        <div class="menu-item">
    <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %> </strong> <br>
    <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        </div>
    <br>
    <%= link_to "Jobs", jobs_path, :class => 'navbar-link' %> <br>
    <%= link_to 'Boats', boats_path %>
    <li><%= link_to 'Upload your photo', boats_path %>
</div>

    <% end %>
    <%= yield %>
</body>
</html>
